<div class="wrapper">
  <div class="container pt-20px">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <%= render 'form_cocktail' %>
      </div>
    </div>
  </div>
</div>



